<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>

        <add id="I95Dev_SalesPersonDashboard::menu" title="I95Dev" module="I95Dev_SalesPersonDashboard" sortOrder="30"  resource="Magento_Backend::content"/>

        <add id="I95Dev_SalesPersonDashboard::menu_item" title="Sales Person Dashboard" module="I95Dev_SalesPersonDashboard" sortOrder="30"  parent="I95Dev_SalesPersonDashboard::menu" resource="I95Dev_SalesPersonDashboard::menu_item" action="sales/grid/" />

    </menu>

</config>


